body {
    font-family: sans-serif;
    background-color: #DEDEDE;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .app-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.6rem;
  }
  
  .animal {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
  }
  
  .animal h4 {
    margin: 0 0 6px 0;
  }
  
  .pet-photo {
    float: left;
    width: 30%;
    margin-right: 15px;
  }
  
  .pet-name {
    /* font-size: 2rem; */
    /* font-weight: normal; */
    margin: 0 0 1rem 0;
  }
  
  .species {
    font-size: .9rem;
    color: #888;
    vertical-align: middle;
  }
  
  .foods-list {
    margin: 0;
    padding: 0;
    position: relative;
    left: 25px;
    font-size: .85rem;
    line-height: 1.5;
  }
  
  .footer {
    font-size: .7rem;
    color: #888;
    text-align: center;
    margin: 0;
  }